@charset "UTF-8";
@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600|Raleway:500,700,800");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Roboto&display=swap');
#main{
	font-family: 'Roboto', sans-serif;
	background-color: #fafbfc;
}

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
	box-shadow: 0 0 0 0;
}

#futsalinner{
	padding-top : 1em;
	
}

#futsalweather{
	font-family: 'Roboto', sans-serif;
	font-size : 1em;
	text-align :center;
	padding: 0;
	padding-top : 1em;
	width: 95%;
	height: 100px;
}

#futsalweather > table{
	max-width : 1560px;
	border-collapse: collapse;
  	border-radius: 10px;
  	overflow: hidden;
	margin: 0px auto;
	height: 15px !important;	
}
#futsalweather > table > tbody > tr:nth-child(1){
	background-color: #3e3e3e;	
	opacity : 1.0;
	color : white;
}
#futsalweather > table > tbody > tr{
	background-color: rgb(62, 62, 62, 0.2);
	color : black;
	height: 1vh;
}
#futsalweather > table > tbody > tr > td{
	
	height:5px !important;
	width:20px;
	padding: 0;
}
/*--------------------------------- futsalinner------------------------- */
#futsalinner{
	justify-content: center;
	transition:  all 1s;
}

#calenderwrapper{
	border-radius : 10px;
	background-color : white;
	width : 44.9%;
	/*height : 35vh;*/
	margin: 1%;
}
#line{
	width : 0%;
	height: auto;
	border-left: 1px dashed rgb(62, 62, 62, 0.3);
	margin: 3.5% 0 3.5% 0; 
}

#mapwrapper{
	overflow : hidden;
	border-radius : 10px;
	background-color : white;
	height : 35vh;
	width : 45%;
	margin: 1%;
}

#map{
	
	width : 100%;
	height :500px;
}

#calendarh3:after, #maph3:after, #weatherh3:after{
	display: none;
}
#calendarh3, #maph3, #weatherh3{
	font-size : 40px;
	font-family: 'Jua', sans-serif;
	color : black;
	padding: 10px;
	margin: 0;
}


/*--------------------------------- content------------------------- */
#futsalcontent{
	width : 100% !important;
	padding: 0  2.5% 0 2.5%;
	
}

.futsallist{
	background-color: rgba( 255, 255, 255);/* 흰색 */
	border-radius: 10px ;
	color : black;
	float: left;
	width : 23%;
	margin : 1%;
	height: 327px;
}
.futsallist:hover{
	transition: 3s;
	background-color: #c0c0c0;
}

.futsallist > div{
	margin : 20px;
	margin-left : 20px;
	flax : 1;
}
.futsallist > div:nth-child(1){
	
	border: 1px solid #48BAE4;
	width: 88%;
	height: 10vh;
}
.futsallist  > div:nth-child(2){
	margin-left : 20px;
}
.listbutton{
    border-radius: 15px !important;
	border: 1px solid #48BAE4 !important ;
 	color : black;
 	position: relative;
	margin-left:10px;
}
#loading{
	color : black;
	font-family: 'Jua', sans-serif;
	width : 100%;
	text-align :center;
	padding-top : 1em;
	padding-bottom : .5em;
	margin: 0px auto;
	font-size: 50px;
}
#endlist{
	color : black;
	font-family: 'Jua', sans-serif;
	width : 100%;
	text-align :center;
	padding-top : 1em;
	padding-bottom : .5em;
	margin: 0px auto;
	font-size: 50px;
}
#makeMap{
	height:100%;
}
#map > div:nth-child(1) > div > div:nth-child(6) > div:nth-child(2){
	display: none !important;
}
#tagString{
	display : inline-block;
	width : fit-content;
	height : fit-content;
	margin : 0 0 0 .1em;
	font-family: 'Jua', sans-serif;
	padding: 0 0 0 1em;
}
.slide_down{
	position: sticky !important;
	top : 85px;
}

#imgdiv{
	overflow : hidden;
}

img{
	object-fit : cover;
}
/* --------------------------980이하--------------------------- */
@media screen and (max-width: 980px){
	
	#futsalsidebar{
	order: 1;
	position : inherit;
	font-size : 15px;
	width : 100%;
	background-color: rgba( 255, 255, 255, 0);/* 투명 */
	color: black;
	height : 100%;
	}
	
	#futsalcontent{
	order: 2;
	width : 100% !important;
	padding-left: 0 0 0 2em !important;
	}
	
	#futsalsidebar > section:nth-child(3){
		display: none
	}
}
