<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <typeAliases>	
  	<typeAlias type="com.koreait.app.futsalDAO.GroundInfoBean" alias = "GroundInfoBean"/>
  	<typeAlias type="com.koreait.app.futsalDAO.GroundHotTimeBean" alias = "HottimeBean"/>
  	<typeAlias type="com.koreait.app.futsalDAO.usageStatusBean" alias = "usageStatusBean"/>
  	<typeAlias type="com.koreait.app.boardDAO.BoardBean" alias = "boardBean"/>
  	<typeAlias type="com.koreait.app.boardDAO.ListBean" alias = "listBean"/>
  	<typeAlias type="com.koreait.app.teamDAO.TeamBean" alias = "teamBean"/>
  	<typeAlias type="com.koreait.app.teamDAO.TeamFileBean" alias = "fileBean"/>
  	<typeAlias type="com.koreait.app.teamDAO.TeamListBean" alias = "teamlistBean"/>
  	<typeAlias type="com.koreait.app.boardDAO.FileBean" alias = "boardfileBean"/>
  	<typeAlias type="com.koreait.app.userDAO.UserBean" alias = "userbean"/>
  	<typeAlias type="com.koreait.app.userDAO.EnterpriseUserBean" alias = "euserbean"/>
  </typeAliases>
  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.mariadb.jdbc.Driver"/>
        <property name="url" value="jdbc:mariadb://118.67.132.46:3306/WEB"/>
        <property name="username" value="root"/>
        <property name="password" value="whddn0330"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="com/koreait/sql/board.xml" />
    <mapper resource="com/koreait/sql/futsal.xml" />
    <mapper resource="com/koreait/sql/team.xml" />
    <mapper resource="com/koreait/sql/user.xml" />
    <mapper resource="com/koreait/sql/enterpriseuser.xml" />
    <mapper resource="com/koreait/sql/file.xml" />
  </mappers>
  
</configuration>
